@page "/"

<PageTitle>Home</PageTitle>

<h1>Fatal Attraction!</h1>

Welcome to Larkspur Hollow, an attractive little town. It has
everything you could want, from a church to a blacksmith to a bank. Unfortunately, murderous treachery lurks
around every corner. Can you navigate the dangers and find the truth without falling victim to fatal attraction? 
Talk to the various town residents to uncover clues and make choices that will determine your fate. Good luck!
<br>
<br>
<p>Click where would you like to go.</p>
<br>
<img src="/images/town-map.png" alt="Town map" class="img-fluid mb-3" usemap="#image-map" />
<map name="image-map">
    <area target="" alt="Bank" title="Bank" href="/bank" coords="422,307,23,10" shape="rect">
    <area target="" alt="Library" title="Library" href="/library" coords="435,14,789,295" shape="rect">
    <area target="" alt="Inn" title="Inn" href="/inn" coords="1168,22,1173,280,1228,319,1333,315,1493,227,1465,17" shape="poly">
    <area target="" alt="Bakery" title="Bakery" href="/bakery" coords="320,312,614,595" shape="rect">
    <area target="" alt="Market" title="Market" href="/market" coords="1002,619,639,310" shape="rect">
    <area target="" alt="Townhall" title="Townhall" href="/townhall" coords="1049,331,1167,284,1221,325,1332,334,1415,386,1416,638,1043,643,1045,497" shape="poly">
    <area target="" alt="Park" title="Park" href="/park" coords="32,755,278,989" shape="rect">
    <area target="" alt="Blacksmith" title="Blacksmith" href="/blacksmith" coords="286,616,635,913" shape="rect">
    <area target="" alt="Church" title="Church" href="/church" coords="644,632,1041,986" shape="rect">
    <area target="" alt="School" title="School" href="/school" coords="1073,643,1510,995" shape="rect">
</map>