<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FatalAttraction</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bakery">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bakery
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bank
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blacksmith">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Blacksmith
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="church">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Church
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inn">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inn
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Library
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="market">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Market
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="park">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Park
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="postoffice">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Post Office
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="school">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> School
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="theater">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Theater
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="townhall">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Town Hall
            </NavLink>
        </div>

    </nav>
</div>

